In [23]:
import numpy             as np
import pandas            as pd
import astropy.io.fits   as ft
import matplotlib.pyplot as plt
from astropy.visualization import astropy_mpl_style as ft_plot
from astropy.utils.data import get_pkg_data_filename

In [20]:
ferguson_cat = '../Catalogues/Ferguson1990_fornax.fit'

In [21]:
data = ft.open(ferguson_cat)

In [22]:
ft.info(ferguson_cat)

Filename: ../Catalogues/Ferguson1990_fornax.fit
No.    Name      Ver    Type      Cards   Dimensions   Format
  0  PRIMARY       1 PrimaryHDU      57   ()
  1  VII_180_p2tbl2    1 BinTableHDU    108   340R x 18C   [J, I, D, D, B, 25A, E, E, E, I, J, I, B, B, 32A, 9A, D, D]
  2  VII_180_p2tbl3    1 BinTableHDU     83   2338R x 14C   [J, A, I, A, D, D, B, 30A, E, E, E, I, D, D]
  3  VII_180_notes    1 BinTableHDU     25   122R x 3C   [A, I, 32A]
  4  VII_180_p3tbl2    1 BinTableHDU    123   52R x 22C   [J, I, 5A, D, D, B, B, E, I, I, 33A, 24A, J, I, I, I, I, 11A, B, 11A, D, D]
  5  VII_180_p3tbl3    1 BinTableHDU    123   79R x 22C   [J, I, 5A, D, D, B, B, E, I, I, 33A, 24A, J, I, I, I, I, 11A, B, 11A, D, D]
  6  VII_180_p3tbl4    1 BinTableHDU    123   120R x 22C   [J, I, 5A, D, D, B, B, E, I, I, 33A, 24A, J, I, I, I, I, 11A, B, 11A, D, D]
  7  VII_180_p3tbl5    1 BinTableHDU    123   162R x 22C   [J, I, 5A, D, D, B, B, E, I, I, 33A, 24A, J, I, I, I, I, 11A, B, 11A, D, D]
  8  VII_180_p3tbl6    1 BinTableHDU    123   375R x 22C   [J, I, 5A, D, D, B, B, E, I, I, 33A, 24A, J, I, I, I, I, 11A, B, 11A, D, D]

In [32]:
image_data = data[0].data

In [35]:
image_data = np.array(image_data)

In [37]:
print(type(image_data))
print(image_data.shape)

<class 'numpy.ndarray'>
()

In [39]:
# plt.figure()
# plt.style.use(ft_plot)
# plt.imshow(image_data, cmap='gray')
# plt.colorbar()

In [40]:
table_01 = data[1].data

In [42]:
table_01_df = pd.DataFrame(table_01)

In [48]:
table_01_df

,recno,FCC,RAB1950,DEB1950,Mem,MType,BTmag,Reff,logD,r_Reff,Vhel,e_Vhel,r_Vhel,Note,Names,IAU,_RA_icrs,_DE_icrs
0,1,1,47.358333,-33.605000,2,"dE,N",18.500000,NaN,0.54,5,-2147483648,0,0,0,,0309-3336,47.862775,-33.417260
1,2,2,48.425000,-33.725000,1,d:SBc(LSB),15.100000,NaN,1.31,5,-2147483648,0,0,0,ESO357-G10,0313-3343,48.926512,-33.541116
2,3,3,48.733333,-35.725000,1,SBcdII-III,14.100000,NaN,1.66,5,1578,5,1,0,"ESO357-G12, HPWI?",0314-3543,49.223363,-35.542220
3,4,4,48.941667,-37.330000,1,dE2,17.000000,NaN,0.94,5,-2147483648,0,0,0,D7,0315-3719,49.422108,-37.147966
4,5,5,48.983333,-36.948333,1,dE5 / ImV,17.299999,NaN,0.74,5,-2147483648,0,0,0,D9,0315-3656,49.465876,-36.766457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,336,336,57.243750,-35.320278,1,dE pec,17.600000,7.8,0.74,1,-2147483648,0,0,2,,0348-3519,57.718452,-35.170569
336,337,337,57.289583,-36.831944,1,dE / ImV,17.799999,11.4,0.72,1,-2147483648,0,0,0,D218,0349-3649,57.754738,-36.682403
337,338,338,57.519583,-33.615833,1,S0,14.300000,20.0,1.31,2,1597,15,1,0,"ESO359-G03, G150, D220",0350-3336,58.004057,-33.467278
338,339,339,57.555417,-38.021944,2,"dE,N",17.500000,10.4,0.74,1,-2147483648,0,0,0,"NG97, D222",0350-3801,58.012315,-37.873476
339,340,340,57.866250,-37.979722,2,dE,18.200001,5.7,0.68,1,-2147483648,0,0,0,,0351-3758,58.322799,-37.832534

In [45]:
table_02 = data[2].data

In [46]:
table_02_df = pd.DataFrame(table_02)

In [47]:
table_02_df

,recno,bgGal,FCC,f_FCC,RAB1950,DEB1950,Mem,MType,BTmag,Reff,logD,r_Reff,_RA_icrs,_DE_icrs
0,1,B,1,,47.379167,-32.886667,5,S,17.400000,NaN,0.70,5,47.887239,-32.699009
1,2,B,2,,47.391667,-32.625000,3,Im or S,17.000000,NaN,0.73,5,47.901037,-32.437389
2,3,B,3,,47.416667,-33.388333,5,S,17.100000,NaN,0.72,5,47.922097,-33.200805
3,4,B,4,,47.458333,-33.515000,5,S,17.900000,NaN,0.60,5,47.963022,-33.327620
4,5,B,5,,47.583333,-32.438333,4,ImV pec?,16.700001,NaN,0.77,5,48.093245,-32.251413
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2333,2334,B,2334,,57.991667,-37.888056,5,E?,17.299999,5.0,0.71,1,58.448571,-37.741386
2334,2335,B,2335,,57.995833,-37.686389,5,E,18.700001,4.3,0.53,1,58.454059,-37.539739
2335,2336,B,2336,,58.012917,-37.720000,5,S,18.100000,3.3,0.47,1,58.470887,-37.573420
2336,2337,B,2337,,58.049583,-37.690000,5,?,18.700001,4.0,0.46,1,58.507679,-37.543572
2337,2338,B,2338,,58.068333,-37.580278,4,E,18.000000,3.3,0.50,1,58.527113,-37.433929